RESEND_FROM=Binary Baker <bradley@binarybaker.co.za>
CONTACT_INBOX_EMAIL=bradley@binarybaker.co.za
CONTACT_WHATSAPP_NUMBER=+27611011669
CONTACT_INQUIRY_ORG_ID=default
CLIENT_PORTAL_URL=https://yourdomain.com/portal
